$white: #FFFFFF;
$green: #B7DACF;
$background: #4A4759;
$primary: #FDB5B0;
$secondary: #E47982;

$icon-size: 32px;
body {
  background-color: $background;
}

/** Target Icon **/

#target-icon {
  width: $icon-size;
  height: $icon-size;
  fill: $secondary;
}

#round {
  -webkit-animation-name: rotation; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite;
  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  fill: $primary;
}

@-webkit-keyframes rotation {
  0% {
	transform: rotate(0deg);
  }
  50% {
	transform: rotate(360deg);
  }
  100% {
	transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
	transform: rotate(0deg);
  }
  50% {
	transform: rotate(360deg);
  }
  100% {
	transform: rotate(360deg);
  }
}

/** Phone Icon **/

#phone-icon {
  width: $icon-size;
  height: $icon-size;
  animation: shake-small 1.2s infinite;
  fill: $secondary;
}

#phone-dot-1 {
  display: none;
}

#phone-dot-2 {
  display: none;
}

#phone-dot-3 {
  display: none;
}

@keyframes shake-small {
  0% {
	transform: translate(1px, 0) rotate(2deg);
  }
  10% {
	transform: translate(-1px, 0) rotate(-2deg);
  }
  20% {
	transform: translate(1px, 0);
  }
  30% {
	transform: translate(0, 0);
  }
  100% {
	transform: translate(0, 0);
  }
}

/** Health Icon **/

.health-icon {
  width: $icon-size;
  height: $icon-size;
  fill: $secondary;
}

.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 2.8s infinite;
}

@keyframes dash {
  0% {
	stroke-dashoffset: 100;
  }
  25% {
	stroke-dashoffset: 80;
  }
  50% {
	stroke: $background;
  }
  100% {
	stroke-dashoffset: 20;
	stroke: $background;
  }
}

/** Messages Icon **/

#messages-icon {
  width: $icon-size;
  height: $icon-size;
  fill: $secondary;
}

.message-dots, .message-dot1 {
  fill: $primary;
  animation: message-dots 2s infinite;
}

.message-dot2 {
  @extend .message-dots;
  animation-delay: 0.3s;
}

.message-dot3 {
  @extend .message-dots;
  animation-delay: 0.6s;
}

@keyframes message-dots {
  0% {
	opacity: 0;
	transform: translate(0, 1px);
  }
  50% {
	opacity: 1;
	transform: translate(0, -1px);
  }
  100% {
	opacity: 0;
	transform: translate(0, 1px);
  }

}

/** Settings Icon **/

#settings-icon {
  width: $icon-size;
  height: $icon-size;
  fill: $secondary;
}

#settings-control1, #settings-control2, #settings-control3 {
  fill: $primary;
}

.knob1 {
  animation: settingsUpDown 5s infinite;
  animation-delay: 0.2s;
}

.knob3 {
  animation: settingsDownUp 4s infinite;
}

.knob3 {
  animation: settingsUpDown 5s infinite;
  animation-delay: 1.2s;
}

@keyframes settingsUpDown {
  0% {
	transform: translate(0, 0px);
  }
  50% {
	transform: translate(0, -8px);
  }
  100% {
	transform: translate(0, 0px);
  }
}



